html{
    background-image: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

.card{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    width: 330px;
    background-color: white;
    border-radius: 1rem;
    margin-top: 15rem;

}

.decoration{
    width: 70%;
    display: grid;
    transform: translateY(-9.3rem) translateX(3.5rem);
}

.woman-mobile{
    grid-column: 1 / span 2;
    grid-row: 1/ span 3;
}
.bg-pattern-mobile{
    grid-column: 1 / span 2;
    grid-row: 3/ span 3;
}

.woman-desktop{
 display: none; 
}
.bg-pattern-desktop{
  display: none;
}
.orange-box{
  display: none;
}

.FAQ{
 margin-top: -12rem;
}
h1{
    text-align: center;
    color: hsl(238, 29%, 16%);
    font-size:xx-large;
    transform: translateY(2rem);
}

.attribution{
    margin-top: 10rem;
    bottom: 0;
    position: fixed;
}
.spacer{
    padding: 30rem;
}

.line{
    border-top: 1px solid hsl(240, 5%, 91%);
}

/* ACCORDION */

.accordion {
    overflow: hidden;
    padding: 2rem;
  }
  
  .accordion__label {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .accordion__label {
    display: block;
    color: hsl(238, 29%, 16%);
    cursor: pointer;
    position: relative;
    transition: 1s;
  }
  
  .accordion__label:hover {
      transition: .3s;
    color:  hsl(14, 88%, 65%);
  }
  

.arrow{
    float: right;
    transform: translateY(-2rem);
}

  .accordion__content {
    color: hsl(240, 6%, 50%);
    display: none;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  .accordion__input:checked ~ .accordion__label {
    font-weight: 700;
    transition: 1s;
  }
  
  .accordion__input:checked ~ .arrow {
    transform: rotate(180deg) translateY(2rem);
  }

  @media only screen and (min-width: 600px) {
    body {
      zoom: 140%;
    }
  }

  
  @media only screen and (min-width: 800px) {
    body {
      zoom: 100%;
    }
    
    h1{
      text-align: left;
      padding-left: 2rem;
    }
    .card{
      width: 800px;
      display: grid;
      height: 66%;
    }

    .FAQ{
      max-width: 500px;
      padding-top: 16rem;
      margin-top: -14rem;
      grid-column: 3 / span 3;
      grid-row: 1/ span 2;
      margin-bottom: -15rem;
    }
    
     .decoration{
      margin-bottom: -20rem;
      overflow: hidden;
      grid-column: 1 / span 3;
      grid-row: 2/ span 2;
      transform: translateY(-15.5rem);

     }
     .woman-desktop{
      transform: translateX(-7rem) translateY(7rem);
      display: block;
    }
    .orange-box{
      display: block;
      transform: translateY(17.5rem) translateX(-8rem);
    }
    .bg-pattern-desktop{
      z-index: -1;
      zoom: 110%;
      display: block;
      transform: translateX(-51rem) translateY(-53rem);
    }
    
    .bg-pattern-mobile,
    .woman-mobile{
      display: none;
    }
  }



  
  @media only screen and (min-width: 1200px) {
  body{
   zoom: 110%;
     }
    .card{
      width: 1000px;
    }
 
  }